menu "Wifi Configuration"
  config ESP_WIFI_SSID
    string "WiFi SSID"
    default "ssid"
    help
      Nome da rede Wifi.

  config ESP_WIFI_PASSWORD
    string "Senha do Wifi"
    default "minha_senha"
    help
      Senha do WiFi (WPA or WPA2).
endmenu

menu "FSE Configuration"
  config ESP_STUDENT_ID
    string "Matrícula do estudante"
    default "matricula"
    help
      Matricula do estudante.
endmenu
